@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background-color: #333;
    color: #ffffff;
    padding-top: 50px;
}

nav {
    display: block;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    mix-blend-mode: color-dodge;
    filter: grayscale(100%);
}

#navbuttons {
    text-align: right;
}

#navbuttons select {
    appearance: none;
    background-color: #333;
    color: #ffffff;
    font-size: 18px;
    padding: 10px;
    border: none;
    float: right;
}

#navlogo a img {
    float: left;
    max-width: 20vh;
    height: auto;
    filter: invert(100%);
}

.logo {
    filter: invert(100%);
    max-width: 200px;
    height: auto;
    top: 0;
}

header {
    width: 100%;
    text-align: center;
    font-size: 18px;
    background: linear-gradient(to right, rgba(253, 52, 229, 0) 0%, #6247fd 50%, rgba(253, 52, 229, 0) 100%);
    color: #ffffff;
    margin-bottom: 0;
}

#slider1{
    display: block;
    margin: 0 auto;
}

#title {
    text-align: center;
    color: #333;
    margin: 0 auto;
    max-width: 800px;
    padding: 0.1vm;
}

#title h1 {
    font-size: 3em;
    font-weight: bold;
    margin-bottom: 0.1em;
    text-shadow: 0.02rem 0 0 white, -0.02rem 0 0 white, 0 0.02rem 0 white, 0 -0.02rem 0 white;
}

#title h2 {
    font-size: 2em;
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 5px;
    color: white;
}

main {
    width: 100%;
    margin: 0 auto;
    font-size: 1.2em;
    line-height: 1.5;
    color: #444;
    background-color: #fff;
    padding: 2em;
    box-sizing: border-box;
}

main ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

main li {
    background-color: #f2f2f2;
    margin: 0.5em 0;
    padding: 0.5em;
    border-radius: 5px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}

#gallerybox {
    width: 100%;
    margin: 0;
    background: rgba(98, 71, 253, 0.25);
    display: flex;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

th {
    background-color: #333;
    color: #ffffff;
}

tr:nth-child(even) {
    color: #333;
}

#störungsmeldung {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    font-family: sans-serif;
    font-size: 18px;
    line-height: 1.5;
}

#störungsmeldung h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

#störungsmeldung p {
    margin-bottom: 10px;
}

#störungsmeldung label {
    margin-right: 10px;
}

#störungsmeldung input[type="checkbox"] {
    margin-right: 10px;
}

#störungsmeldung button[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

#störungsmeldung button[type="submit"]:hover {
    background-color: #6247fd;
}

#formular {
    width: 500px;
    margin: 0 auto;
    text-align: center;
    font-family: sans-serif;
}

#formular form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#formular label {
    font-weight: bold;
    margin-bottom: 2px;
}

#formular input[type="text"], #formular input[type="email"], #formular input[type="tel"], #formular textarea {
    width: 70%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
}

#formular input[type="submit"] {
    width: 50%;
    background-color: #333;
    color: #ffffff;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#formular input[type="submit"]:hover {
    background-color: #6247fd;
}

footer {
    width: 100%;
    background-color: #333;
    color: #ffffff;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

@media only screen and (max-width: 600px) {
    #formular {
        width: 90%;
    }
    #formular input[type="submit"] {
        width: 70%;
    }
}